<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.gamedots.mindlr.mindlrfrontend">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>

    <!-- android:debuggable="true" -->
    <application
        android:name=".MindlrApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.MainActivity"
            android:label="Mindlr"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".view.activity.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".view.activity.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.gamedots.mindlr.mindlrfrontend.view.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".view.activity.WritePostActivity"
            android:label="@string/title_activity_write_post"
            android:parentActivityName=".view.activity.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.gamedots.mindlr.mindlrfrontend.view.activity.MainActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.DraftsActivity"
            android:label="@string/drafts"
            android:parentActivityName=".view.activity.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.gamedots.mindlr.mindlrfrontend.view.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".view.activity.ProfileActivity"
            android:label="@string/title_activity_profile_actvitiy"
            android:parentActivityName=".view.activity.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.gamedots.mindlr.mindlrfrontend.view.activity.MainActivity"/>
        </activity>
        <activity android:name=".view.activity.TutorialActivity"
                  android:theme="@style/TutorialTheme">
        </activity>
        <activity
            android:name=".view.activity.DetailActivity"
            android:theme="@style/AppTheme"/>

        <provider
            android:name=".data.MindlrProvider"
            android:authorities="de.gamedots.mindlr.mindlrfrontend"
            android:enabled="true"
            android:exported="false"/>

        <service
            android:name=".data.DatabaseIntentService"
            android:exported="false">
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="071d87e6fc1a50ab0c0ae7555c2bdd2c04208430" />
    </application>

</manifest>